@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
  }

  body {
    font-family: "Red Hat Display", sans-serif;
    background-color: var(--very-pale-blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
  }

  p{
    font-size: 16px;
    line-height: 1.6;
    color: var(--desaturated-blue);
  }

  button {
    font-family: inherit;
  }

  .bg-img {
    background: url(./images/pattern-background-mobile.svg) no-repeat center/cover;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .btn {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .btn-change {
    background-color: transparent;
    color: var(--bright-blue);
    text-decoration: underline;
  }

  .btn-proceed {
    background-color: var(--bright-blue);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
  }

  .btn-proceed:hover, .btn-change:hover {
    opacity: 0.8;
  }

  .btn-cancel {
    background-color: transparent;
    color: var(--desaturated-blue);
  }

  .btn-cancel:hover {
    color: hsl(223, 47%, 23%);
  }

  .container {
    background-color: white;
    margin: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px hsl(228, 45%, 44%, 0.15);
  }

  .container h1 {
    color: hsl(223, 47%, 23%);
    margin: 10px 0;
  }

  .container p.description {
    padding: 0 30px;
  }

  .container img.hero {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .container .pricing {
    margin: 30px auto;
    padding: 10px;
    background-color: var(--very-pale-blue);
    width: 90%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .container .pricing article {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container .pricing article img {
    margin-right: 10px;
  }

  /* Attribution */
  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%)
  }

  @media (min-width: 650px) {
    .bg-img {
      background: url(./images/pattern-background-desktop.svg) no-repeat center/cover;
      height: 50vh;
    }

    .container {
      width: 500px;
    }
  }